.screen {
	margin-left: auto;
	margin-right: auto;	
	margin-top: 40px;
	min-height: 65px;
    max-width: 315px;
	margin-bottom: 5px;
	font-size: xx-large;
	color: transparent;
	text-shadow: 0 0 0 black;
	border: 1px solid #dbdbdb;
	padding: 10px;
	border-radius: 2px;
	outline: none;
	overflow-x: auto; 
	text-align: end


}

.screen:focus {
	outline: 1px solid blue;
}

#calculator-action-buttons-wrapper {
	text-align: center;
}

.buttons {
	width: 74px;
	height: 40px;
	margin: 2px;
	font-size: medium;
	box-shadow: none;
}

.darkGreyButtons {
	background-color: #d1d1d1;
}

.lightGreyButtons {
	background-color: #f3f3f3;
}





